.superCube {
	position:relative;
	transform-style: preserve-3d;
	perspective-origin: 50% 50% ;
	margin:auto;
	margin-top:300px;

	animation-name:rotate;
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/*border:2px solid red;*/
}

.cube {
	position:absolute;
	transform-style: preserve-3d;
	/*perspective-origin: 50% 50% 50%;*/
	margin:0;
}

.face {
	position:absolute;
	/*border:1px solid black;*/
	margin:0;
}

body, html {
	margin:0;
}

@keyframes rotate {
	from {transform:rotateX(-20deg) rotateY(0deg) rotateZ(0deg);}
	to {transform:rotateX(-20deg) rotateY(360deg) rotateZ(0deg);}
}